button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}



form{
	button{
		font-size: 1.5rem;
		border: solid 2px blue;
		background: rgba(10,10,100,0.75);
		color: white;
		border-radius: 27%;
		width: 17%;
		padding: 2% 3%;
		margin: 2%;

		&:hover{

			border: solid 2px White;
			background: rgba(white,0.75);
			color: blue;
			transform: scale(0.75);
			transition-duration: 1s;
		}
	}
}
