
<!-- 
<form action="post" name="contact_form">
    
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
 -->

 {% block content %}
 <h2>Contact Form Heeeeere </h2>
 <p>To send us a message fill out the below form.</p>
 <form method="post">{% csrf_token %}
   <input type="text" name="name" placeholder="Name">
   <input type="text" name="email" placeholder="Your e-mail">
   <textarea name="body" rows="5" cols="50" placeholder="Your Message"></textarea>
  
<!-- 

   <input type="text" name="inputName" placeholder="Your Name">
   <input type="mail" name="inputMail" placeholder="Your Mail">
   <input type="text" name="inputSubject" placeholder="Your Subject">
   <textarea name="inputMessage" placeholder="Your Message" rows="5"></textarea> -->

 </form>
{% endblock content %}