
{% load static  widget_tweaks%}


<section class="contactSec mb-5" id="contactpage">
  <h2> Contact </h2>

  <section class="contact-info">
     
        <address class="cardInfo">
        <span class="lightSpan2"></span>
        <span class="lightSpan"></span>
          <ul class="adresseList p-0">
            <li class="itemAdd">Lacolley Thomas</li>
            <li class="itemAdd"><a href="mailto:thomaslacolley@gmail.com">thomaslacolley@gmail.com</a></li>
            <li class="itemAdd">Address: 1 Traverse des Pousets 48000 Mende</li>
            <li class="itemAdd">Ph: +33 6 85 47 38 22</li>
          </ul> 
        </address>
    
      <div class="cardSocial">
        <ul class="list-social">
          <li><a href="https://www.youtube.com/user/ratewar/"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://vimeo.com/lacolley"><i class="fab fa-vimeo-v"></i></a></li>
          <li><a href="https://www.linkedin.com/in/thomas-lacolley-9479a610b/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.facebook.com/Lacolley-VFX-1931252047102438/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="contactForm">

        <h3>Keep in touch</h3>
        <!-- <form method="post" action="{% url 'contact_form' %}"> -->
            <!-- <input type="text" name="inputName" placeholder="Your Name">
            <input type="mail" name="inputMail" placeholder="Your Mail">
            <input type="text" name="inputSubject" placeholder="Your Subject">
            <textarea name="inputMessage" placeholder="Your Message" rows="5"></textarea> -->
            <!-- <input type="submit" name="btnSubmit" id="btnSubmit"> -->
          <!-- </form> -->
          
          <form id="contact-form" method="post" action="{% url 'contact_form' %}" >{% csrf_token %}
              {% render_field contact_form.name  placeholder=contact_form.name.label %}
              {% render_field contact_form.email  placeholder=contact_form.email.label %}
              
              {% render_field contact_form.body  placeholder=contact_form.body.label %}
              <button id="btnSubmit"type="submit" class="rounded-pill"> Submit </button>
      
        </form>


      </div>
  </section>


</section>



