/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
# Layout

--------------------------------------------------------------*/
// @import "variables-site/variables-site";
@import "mixins/mixins-master";

@import "pre-loading";

@import "variables-site/colors";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
// @import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// @import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
// @import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// @import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
// @import "navigation/navigation";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/layout";

/*--------------------------------------------------------------
# Index
--------------------------------------------------------------*/
// @import "index";


.homeSec{
	text-align: center;
	width:100%;
	height: 100%;
	margin-bottom: 5rem;
  .demoReel iframe{
	width:100%;
	height:45vw;
	@include borderLight();

 	}
  }


html,body{
	height:100%;
  }
  body{
	margin:0;
	.container{
	  margin:0;
	  padding:0;
	  max-width: 100%;
	  background-color: #030C2D;
  
	}
  }
	
	a{
		outline: 0;
	}

