.portfolioSec{
    color: white;

.container-portfolio{
    box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea;
    border-radius: 10px;
    border: 2px solid #004bea;
    .panel-heading{
        position: relative;
        .top-tabs{
            position: absolute;
            width: 100%;
            top: -48px;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            li{
                list-style:none;
                float:left;
                width:50%;
                a{
                    display: flex;
                    justify-content: center;
                    line-height: 325%;
                    position:relative;
                    // color:black;
                    text-align:center;
                    text-decoration:none;
                    text-transform:uppercase;
                    height:3rem;
                    // line-height:90px;
                    // background:linear-gradient(165deg,transparent 29%, #98927C 30%);
                    // background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
                    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;


                    text-shadow: 0px 0px 7px #00d6fc;
                    color: white;
                    box-shadow: 0px 0px 5px 0px #004bea, inset 0 0 40px #004bea;
                    border: 2px solid #004bea;
                    background: black;

                    &:hover{
                        // background: #F2EEE2;
                        // color:#98927C;
                        text-shadow: 0px 0px 7px #00d6fc;
                        background: transparent;
                    }
                }
            }
            .active a{
               
                // color: blueviolet;
                box-shadow: 0px 0px 5px 0px #004bea, inset 0 0 40px #004bea;
                border: 2px solid #004bea;
                background: rgb(196, 196, 196);


              
            }
             li:nth-child(1) a{
                }
        }
    }
    .panel-body{
        background-color:rgba(37, 37, 173, 0.4);
        border-radius: 10px;
        width:100%;
        height: 40rem;
    }
    .tab-content{
        height:100%;
    }
    #vfxTab{
        height:100%;
        position:relative;
        .panelVfx-heading{
            position:absolute;
            height:100%;
            width:100%;

            ul{
            display:flex;
            flex-direction:column;
            height:100%;
            width:100%;
            position:absolute;
            right: 3%;
                li{
                    width:3%;
                    height: 25%;
                    // background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
                    writing-mode: sideways-lr;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea;
                    border: 2px solid #004bea;
                    border-right: none;


                  
                    a{
                        display:block;
                        width:100%;

                        text-shadow: 0px 0px 7px #00d6fc;
                        color: white;
                        
                       
                        &:hover{
                            border-top-left-radius: 25px;
                            border-bottom-left-radius: 25px;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
                            text-decoration: none;
                            box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea;
                            // background: #F2EEE2;
                            // color:#98927C;
                            text-shadow: 0px 0px 7px #00d6fc;
                            background: transparent;
                        }
                    }
                    .active{
                        background: rgb(196, 196, 196);
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                        box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea;

                    }
                }
            }
        }

    }




}

}

@mixin transition ($prop, $time) {
    // -webit-transition: $prop $time $easing;
    transition: $prop $time cubic-bezier(.11, .65, .04, 1);;
}

@media screen and (max-width:500px) {

    .portfolioSec {

        .container-portfolio {
            .panel-body {
                height: 100%;
                h4{
                    font-size: 1rem;
                }
                iframe{
                    width: 80%;
                }
            }
        }
    
    



    }



}