

{% extends 'core/base.html' %}

{% load static %}

{% block css%}
<!-- <link rel="stylesheet" href="{% static 'haa_core/css/index.css' %}"> -->

<link rel="stylesheet" href="{% static 'lacolley_about/css/about.css' %}">

<link rel="stylesheet" href="{% static 'lacolley_contact/css/contact.css' %}">
<link rel="stylesheet" href="{% static 'lacolley_portfolio/css/portfolio.css' %}">

{% endblock %}

{% block content %}


<section class="portfolioSec" id="portfoliopag">
    <h2> Portfolio </h2>

<div class="container-portfolio">
    <div class="panel-heading">
        <ul class="nav top-tabs">
            <li class="topTabs active"><a class="topTabsLink" href="#vfxTab" data-toggle="tab">VFX Works</a></li>
            <li class="topTabs"><a class="topTabsLink" href="#webTab" data-toggle="tab">Web Works</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <!-- Panel VFX ----------------------------------->
            <div class="tab-pane fade in active show" id="vfxTab">
                <div class="panelVfx-heading">
                    <ul class="nav">
                        <li class="active show"><a class="active show" href="#compTab" data-toggle="tab">Compositing</a></li>
                        <li><a href="#matteTab" data-toggle="tab">Matte Painting</a></li>
                        <li><a href="#greenScreenTab" data-toggle="tab">Green Screen</a></li>
                        <li><a href="#othersTab" data-toggle="tab">Others</a></li>
                    </ul>
                </div>
                 <div class="panelVfx-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active show" id="compTab">
                            <h3>Compositing</h3>   
                            <div class="row">

                            
                            {% for comp in compositing %}
                            <div class="col-6">
                                <h4>{{ comp.name }}</h4>
                                <!-- <img src="{%static '{{ comp.img }}' %}" alt=""> -->
                                <iframe  src="{{ comp.vieo_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <h4>{{ comp.description }}</h4>
                                
                                <iframe src="https://player.vimeo.com/video/189659935" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                                
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade in" id="matteTab">
                            <h3>Matte Painting</h3>
                              {% for matte in matte %}
                                <h4>{{ matte.name }}</h4>
                                
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade in" id="greenScreenTab">
                            <h3>Green Screen</h3>
                              {% for track in tracking %}
                                <h2>{{ track.name }}</h2>
                                
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade in" id="othersTab">
                            <h3>Others</h3>
                              {% for other in others %}
                                <h2>{{ other.name }}</h2>
                                
                            {% endfor %}
                        </div>
                    </div>
                 </div>

    </div>
    <!-- END  Panel VFX ----------------------------------->

    <div class="tab-pane fade" id="webTab">Web Works !!!!!</div>

  </div>
</div>
</div>


</section>



{% endblock %}



{% block script %}

    <script src="{% static 'lacolley_portfolio/script/script_portfolio.js' %}"></script>

{% endblock  %}
