


{% load static %}





<section class="portfolioSec" id="portfoliopage">
    <h2> Portfolio </h2>

<div class="container-portfolio">
    <div class="panel-heading">
        <ul class="nav top-tabs">
            <li class="topTabs active"><a class="topTabsLink" href="#vfxTab" data-toggle="tab">VFX Works</a></li>
            <li class="topTabs"><a class="topTabsLink" href="#webTab" data-toggle="tab">Web Works</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <!-- Panel VFX ----------------------------------->
            <div class="tab-pane fade in active show" id="vfxTab">
                <div class="panelVfx-heading">
                    <ul class="nav">
                        <li class=" show"><a class="active show" href="#compTab" data-toggle="tab">Compositing</a></li>
                        <li><a href="#matteTab" data-toggle="tab">Matte Painting</a></li>
                        <li><a href="#greenScreenTab" data-toggle="tab">Green Screen</a></li>
                        <li><a href="#othersTab" data-toggle="tab">Others</a></li>
                    </ul>
                </div>
                 <div class="panelVfx-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active show" id="compTab">
                            <h3>Compositing</h3>   
                            <div class="row">

                            
                            {% for comp in compositing %}
               

                            <div class="col-12 col-sm-6">
                                    <h4>{{ comp.name }}</h4>
                                    <iframe src="https://player.vimeo.com/video/{{comp.video_code}}" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                </div>
                                
                            {% endfor %}
                        </div>
                    </div>
                        <div class="tab-pane fade in" id="matteTab">
                            <h3>Matte Painting</h3>
                            <div class="row">

                              {% for matte in matte %}
                                <div class="col-12 col-sm-6">
                                    <h4>{{ matte.name }}</h4>
                                    <iframe src="https://player.vimeo.com/video/{{matte.video_code}}" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                </div>
                                
                            {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="greenScreenTab">
                            <h3>Green Screen</h3>
                            <div class="row">
                              {% for track in tracking %}
                                <div class="col-12 col-sm-6">
                                    <h4>{{ track.name }}</h4>
                                    <iframe src="https://player.vimeo.com/video/{{track.video_code}}" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                </div>
                                
                            {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="othersTab">
                            <h3>Others</h3>
                            <div class="row">
                              {% for other in other %}
                                <div class="col-12 col-sm-6">
                                    <h4>{{ other.name }}</h4>
                                    <iframe src="https://player.vimeo.com/video/{{other.video_code}}" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                                </div>
                                
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                 </div>

    </div>
    <!-- END  Panel VFX ----------------------------------->

    <div class="tab-pane fade" id="webTab">
        <h3> Web Project </h3>
        {% for web in website %}
        <div class="row pt-4">

            <div class="col-12 col-sm-6">
                    <a href="{{web.link}}" target="_blank"><h3>{{ web.name}}</h3></a>
                <p class="px-5 pt-2 text-white">{{ web.description}}</p>
                
            </div>
            <div class="col-12 col-sm-6 py-4">
                <a href="{{web.link}}" target="_blank"><img class="img-fluid w-75" src="{{web.img.url}}" alt="{{web.name}}"></a>
                
            </div>
            
        </div>
        {% endfor %}

    </div>

  </div>
</div>
</div>


</section>



