/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
# Layout

--------------------------------------------------------------*/
body {
  overflow: hidden; }

#loader-wrapper {
  position: fixed;
  z-index: 1000; }
  #loader-wrapper #loader {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 1001; }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */ }
  #loader-wrapper .section-left {
    left: 0; }
  #loader-wrapper .section-right {
    right: 0; }

.loaded {
  overflow: auto; }
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out; }
    .loaded #loader-wrapper #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .loaded #loader-wrapper .section-left {
      -webkit-transform: translateX(-100%);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%);
      /* IE 9 */
      transform: translateX(-100%);
      /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .loaded #loader-wrapper .section-right {
      -webkit-transform: translateX(100%);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%);
      /* IE 9 */
      transform: translateX(100%);
      /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

.container-circle {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  margin: auto; }

body {
  background: #373940; }

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px; }

.hex-brick {
  background: #ABF8FF;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg); }

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg); }

.gel {
  height: 30px;
  width: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%; }

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

.c1 {
  margin-left: -47px;
  margin-top: -15px; }

.c2 {
  margin-left: -31px;
  margin-top: -43px; }

.c3 {
  margin-left: 1px;
  margin-top: -43px; }

.c4 {
  margin-left: 17px;
  margin-top: -15px; }

.c5 {
  margin-left: -31px;
  margin-top: 13px; }

.c6 {
  margin-left: 1px;
  margin-top: 13px; }

.c7 {
  margin-left: -63px;
  margin-top: -43px; }

.c8 {
  margin-left: 33px;
  margin-top: -43px; }

.c9 {
  margin-left: -15px;
  margin-top: 41px; }

.c10 {
  margin-left: -63px;
  margin-top: 13px; }

.c11 {
  margin-left: 33px;
  margin-top: 13px; }

.c12 {
  margin-left: -15px;
  margin-top: -71px; }

.c13 {
  margin-left: -47px;
  margin-top: -71px; }

.c14 {
  margin-left: 17px;
  margin-top: -71px; }

.c15 {
  margin-left: -47px;
  margin-top: 41px; }

.c16 {
  margin-left: 17px;
  margin-top: 41px; }

.c17 {
  margin-left: -79px;
  margin-top: -15px; }

.c18 {
  margin-left: 49px;
  margin-top: -15px; }

.c19 {
  margin-left: -63px;
  margin-top: -99px; }

.c20 {
  margin-left: 33px;
  margin-top: -99px; }

.c21 {
  margin-left: 1px;
  margin-top: -99px; }

.c22 {
  margin-left: -31px;
  margin-top: -99px; }

.c23 {
  margin-left: -63px;
  margin-top: 69px; }

.c24 {
  margin-left: 33px;
  margin-top: 69px; }

.c25 {
  margin-left: 1px;
  margin-top: 69px; }

.c26 {
  margin-left: -31px;
  margin-top: 69px; }

.c27 {
  margin-left: -79px;
  margin-top: -15px; }

.c28 {
  margin-left: -95px;
  margin-top: -43px; }

.c29 {
  margin-left: -95px;
  margin-top: 13px; }

.c30 {
  margin-left: 49px;
  margin-top: 41px; }

.c31 {
  margin-left: -79px;
  margin-top: -71px; }

.c32 {
  margin-left: -111px;
  margin-top: -15px; }

.c33 {
  margin-left: 65px;
  margin-top: -43px; }

.c34 {
  margin-left: 65px;
  margin-top: 13px; }

.c35 {
  margin-left: -79px;
  margin-top: 41px; }

.c36 {
  margin-left: 49px;
  margin-top: -71px; }

.c37 {
  margin-left: 81px;
  margin-top: -15px; }

.r1 {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s; }

.r2 {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s; }

.r3 {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s; }

.r1 > .hex-brick {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s; }

.r2 > .hex-brick {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s; }

.r3 > .hex-brick {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes fade {
  0% {
    background: #ABF8FF; }
  50% {
    background: #90BBBF; }
  100% {
    background: #ABF8FF; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes fade {
  0% {
    background: #ABF8FF; }
  50% {
    background: #389CA6; }
  100% {
    background: #ABF8FF; } }
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  background-color: #030C2D; }
  header h1, header .leitmotiv {
    color: white;
    position: absolute;
    left: 3%;
    z-index: 2; }
  header h1 {
    font-size: 4rem;
    top: 5%; }
  header .leitmotiv {
    font-size: 2rem;
    top: 12%;
    left: 3%; }
  header img {
    width: 100%;
    height: 100%; }
  header #titleNav {
    margin-right: 2%; }
  header .navbarBase {
    height: 5rem; }
  header .navbarTop {
    animation: navBarTopAnimate 2s forwards; }
  header .navbarLeft {
    height: 5rem;
    animation: navBarLeftAnimate 2s 0.5s forwards; }
  header .ulLeft {
    flex-direction: column !important;
    justify-content: space-around;
    height: 100%;
    width: 100%; }
  header .ulTop {
    flex-direction: row;
    justify-content: end; }
  header .opacityOff {
    animation: hideList,0.5s forwards; }
  header .opacityOn {
    animation: showList,0.5s forwards; }
  header .nav-link-icon {
    display: none;
    font-size: 4rem; }
  header .nav-link-icon:hover {
    color: #00d6fc; }
  header .iconlistAnim {
    animation: iconDisplay 1s forwards; }
  header nav {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    background-color: black;
    color: white; }
    header nav a {
      color: white; }
    header nav a:hover {
      text-decoration: none;
      color: white;
      text-shadow: 0px 0px 10px #00d6fc; }
    header nav h2, header nav ul {
      text-align: center;
      margin: 2% 0; }
    header nav ul {
      background-color: black;
      list-style: none;
      display: flex;
      justify-content: end;
      padding: 0;
      padding-right: 10%;
      width: 50%; }
      header nav ul li {
        text-transform: uppercase;
        font-size: 80%;
        font-weight: bolder; }

@media screen and (max-width: 990px) {
  header #titleNav {
    margin: 1%; }
  header #btnBurgerNav {
    background-color: #004bea; }
    header #btnBurgerNav span {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold; }
  header .fixedNavbar {
    animation: mobileNavTopAmin 1s forwards; }
  header .navbar .navShowTel {
    display: flex;
    position: fixed;
    top: 25%;
    left: 0px;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: auto; }
  header .navbar {
    background: black;
    padding: 0;
    display: flex;
    justify-content: space-around; }
    header .navbar ul {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0; }
      header .navbar ul li {
        font-size: 100%; }

  .btnFixed {
    position: fixed;
    font-size: 3rem;
    top: 3%;
    left: 3%; } }
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 2rem;
    display: none; }
  header .leitmotiv {
    font-size: 1rem;
    top: 5%; }
  header .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .navbar ul li {
      font-size: 80%; } }
@keyframes navBarLeftAnimate {
  0% {
    position: fixed;
    top: -80px;
    height: 5rem;
    width: 100%; }
  25% {
    width: 100%;
    position: fixed;
    top: 0px; }
  75% {
    height: 5rem;
    width: 10%; }
  100% {
    width: 10%;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; } }
@keyframes navBarTopAnimate {
  0% {
    width: 10%;
    position: fixed;
    flex-direction: column;
    opacity: 1;
    height: 100%;
    top: 0;
    left: 0; }
  20% {
    position: fixed;
    width: 10%;
    height: 0%;
    opacity: 0.7; }
  21% {
    opacity: 0; }
  50% {
    position: relative;
    opacity: 0;
    height: 5rem;
    width: 0%; }
  60% {
    opacity: 0; }
  100% {
    width: 100%;
    height: 5rem;
    position: relative;
    opacity: 1;
    flex-direction: row; } }
@keyframes hideList {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes showList {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes iconDisplay {
  0% {
    display: flex;
    opacity: 0 !important;
    font-size: 2rem;
    filter: blur(10px);
    text-shadow: 0px 0px 0px #00d6fc; }
  50% {
    font-size: 5rem;
    filter: blur(1px);
    text-shadow: 0px 0px 60px #00d6fc; }
  100% {
    opacity: 1 !important;
    font-size: 4rem;
    filter: blur(0px);
    text-shadow: 0px 0px 10px #00d6fc; } }
@keyframes mobileNavTopAmin {
  0% {
    position: fixed;
    top: -80px;
    height: 5rem;
    width: 100%; }
  100% {
    width: 100%;
    position: fixed;
    top: 0px; } }
@keyframes borderAnimBreath {
  0% {
    box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea; }
  50% {
    box-shadow: 0px 0px 40px 1px #004bea, inset 0 0 40px #004bea; }
  100% {
    box-shadow: 0px 0px 20px 1px #004bea, inset 0 0 20px #004bea; } }
@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes lightShapeAnim {
  0% {
    top: 0%;
    left: 0%;
    opacity: 1; }
  25% {
    top: -1%;
    left: 100%;
    opacity: 0.2; }
  50% {
    top: 100%;
    left: 100%;
    opacity: 1; }
  75% {
    top: 100%;
    left: 0%;
    opacity: 0.2; }
  100% {
    top: -1%;
    left: -1%;
    opacity: 1; } }
@keyframes lightShapeAnimBis {
  0% {
    top: 100%;
    left: 100%;
    opacity: 0.2; }
  25% {
    top: 100%;
    left: 0%;
    opacity: 1; }
  50% {
    top: -1%;
    left: -1%;
    opacity: 0.2; }
  75% {
    top: 1%;
    left: 100%;
    opacity: 1; }
  100% {
    top: 100%;
    left: 100%;
    opacity: 0.2; } }
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: black;
  margin: 0;
  padding: 5%; }
  footer p {
    margin: 0;
    text-align: center; }

#main {
  padding-top: 5%; }

.mainSection {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-right: auto; }

.mainSectionLeft {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: 5%; }

.homeSec, .aboutSec, .contactSec, .portfolioSec {
  text-align: center;
  width: 100%;
  height: 100%; }
  .homeSec h2, .aboutSec h2, .contactSec h2, .portfolioSec h2 {
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 5%; }

@media screen and (max-width: 500px) {
  .homeSec h2, .aboutSec h2, .contactSec h2, .portfolioSec h2 {
    font-size: 3rem;
    margin-bottom: 20%; } }
/*--------------------------------------------------------------
# Index
--------------------------------------------------------------*/
.homeSec {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem; }
  .homeSec .demoReel iframe {
    width: 100%;
    height: 45vw; }

html, body {
  height: 100%; }

body {
  margin: 0; }
  body .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #030C2D; }

a {
  outline: 0; }

/*# sourceMappingURL=style.css.map */
